*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background:linear-gradient(60deg, rgb(223, 223, 223), rgb(222, 173, 117));
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    color: rgb(0, 0, 0);
    margin-top: 100px;
    text-align: center;
}

h3{
    color:rgb(0, 0, 0);
    margin-top: 5px;
    text-align: center;
}

form{
    margin-top: 50px;
    background: rgb(255, 255, 255);
    box-shadow: 3px 3px 5px rgb(51, 51, 51);
}

form input{
    width: 250px;
    height: 35px;
    border: none;
    outline: none;
    padding: 0 5px;
    font-weight: bold;
}

form button{
    width: 50px;
    height: 35px;
    border: none;
    background: rgb(83, 184, 83);
    color: rgb(51, 51, 51);
    outline: none;
    cursor: pointer;
}

.container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    min-height: 100%;
    z-index: 1;
    position: relative;
    padding-bottom: 20px;
}

ul{
    list-style: none;
    width: 500px;
}

ul li{
    width: 100%;
    background:rgb(255, 255, 255);
    height: 35px;
    line-height: 35px;
    font-weight: bold;
    padding: 0 5px;
    position: relative;
    display: block;
    margin: 7px 0;
    box-shadow: 3px 3px 5px rgb(51, 51, 51);
    transition: 0.5s linear;
    text-align: center;
}

.completed {
    position: absolute;
    top: 0;
    left: 0;
    height: 35px;
    width: 35px;
    cursor: pointer;
    background-color: black;
}

ul li span{
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    text-align: center;
    font-weight: bolder;
    cursor: pointer;
    background: rgb(241, 73, 73);
}


footer{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    text-align: center;
    position:relative;
    margin-top: auto;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #b99e7e;
    color: #fff;
    z-index: 0;
}

footer i{
    font-size: 24px;
    color: black;
}

/* Media queries for different screen sizes */

@media only screen and (max-width: 768px) {
    /* Responsive styles for screens smaller than 768px (e.g. tablets) */
    .container {
      width: 80%;
    }
  
    ul {
      width: 100%;
    }
  
    ul li {
      font-size: 16px;
    }
  
    footer {
      height: 80px;
    }
  
    footer i {
      font-size: 20px;
    }
  }
  
  @media only screen and (max-width: 480px) {
    /* Responsive styles for screens smaller than 480px (e.g. mobile phones) */
    .container {
      width: 90%;
    }
  
    ul {
      width: 100%;
    }
  
    ul li {
      font-size: 14px;
    }
  
    footer {
      height: 40px;
    }
  
    footer i {
      font-size: 20px;
    }
  }
  